<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Regist2</title>
</head>
<body>
<p>
<form method="get" enctype="application/x-www-form-urlencoded">
        <input name="name" placeholder="username">
        <br>
        <input name="phone" placeholder="phone">
        <br>
        爱好：
        {% for love in loves %}
            <input type="checkbox" name="love" value="{{ love }}"> {{ love }}
        {% endfor %}
        <br>
        <button>提交</button>
</form>
</p>
<p>
    GET请求的查询参数<br>
    <ul>
    {% for key, value in request.GET.items %}
        {% ifnotequal key 'love' %}
            <li>{{ key }}: {{ value }}</li>
        {% endifnotequal %}
    {% endfor %}
    <li>
        爱好：
        {% for item in select_loves %}
            {{ item }},
        {% endfor %}
    </li>
</ul>
</p>

</body>
</html>